.iconSkill {
    
        color: white;
        font-size: 70PX;

        border-color: rgb(255 255 255 / var(--tw-border-opacity));
        border-width: 1px;
        border-radius: 9999px;
        padding: 12px;

    
}