.cardProyect {
  font-size: 3rem;
  margin: 10px;
  color: #d0d0d0;
  background-color: rgba(0, 0, 0, 0.27);
  border-radius: 8px;
  padding: 20px;

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8),
    -4px -4px 8px rgba(50, 50, 50, 0.1);
}

@media (max-width: 640px) {
  .cardProyect {
    margin: 5px;
    font-size: 2rem;
  }
}
